{% extends 'base-auth.html' %} {% block content %} {% if transactions %}
<div class="d-flex flex-column h-100 w-100">
  <div class="row py-4 justify-content-around align-items-stretch">
    {% include 'snippets/messages.html' %}
    {% for transaction in transactions %}
      {% include 'snippets/post_list.html' with interaction='snippets/post_transact.html' post=transaction.post %}
    {% endfor %}
  </div>
</div>
{% else %}
<div
  class="d-flex flex-column h-100 w-100 justify-content-center align-items-center"
>
  <h1 class="mb-2">Oops!</h1>
  <h5 class="mb-4">No transactions involve you yet.</h5>
  <a href="/feed" class="btn btn-info me-2 text-capitalize">
    my feeds<i class="fa-solid fa-paper-plane ms-1" aria-hidden="true"></i>
  </a>
</div>
{% endif %} {% endblock %}
