{% extends 'base-auth.html' %} {% block content %}
<div class="d-flex flex-column h-100 w-100">
  <div class="row py-4 justify-content-around align-items-stretch">
    {% for post in posts %}
    <div class="col-10 col-md-6 col-lg-4 p-2">
      <div class="card h-100">
        <img src="{{ post.image_url }}" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">{{ post.caption }}</h5>
          <p class="card-text">
            by {{ post.user.username }} at {{ post.created_on }}
          </p>
          <div class="row g-0">
            <span class="col-3">
              <form method="post" action="/like/" id="like" class="d-inline">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{ post.id }}" />
                {% if post.has_liked %}
                <button class="btn btn-light w-100">
                  <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                  {{ post.like_count }}
                </button>
                {% else %}
                <button class="btn btn-info w-100">
                  <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                  {{ post.like_count }}
                </button>
                {% endif %}
              </form>
            </span>
            <span class="col-9 ps-2">
              <form method="POST" action="/comment/" class="d-inline">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{ post.id }}" />
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    name="comment_text"
                    aria-describedby="comment"
                    aria-label="Comment Text"
                  />
                  <button class="btn btn-outline-secondary" type="submit">
                    Comment
                  </button>
                </div>
              </form>
            </span>
          </div>
          <ul class="list-group list-group-flush">
            {% for comment in post.comments %}
            <li class="list-group-item">
              <span class="text-primary">{{ comment.user.username }}</span>
              <span class="text-muted fw-light">{{ comment.created_on }}:</span>
              <span class="{{ comment.has_upvoted }}"
                >{{ comment.comment_text }}</span
              >

              <form method="post" action="/upvote/" class="d-inline float-end">
                {% csrf_token %}
                <input type="hidden" name="comment" value="{{ comment.id }}" />
                {% if comment.has_upvoted %}
                <button class="btn btn-sm btn-outline-light" type="submit">
                  <i class="fa-solid fa-heart" aria-hidden="true"></i>
                  {{ comment.upvote_count }}
                </button>
                {% else %}
                <button class="btn btn-sm btn-outline-primary" type="submit">
                  <i class="fa-solid fa-thumbs-up" aria-hidden="true"></i>
                  {{ comment.upvote_count }}
                </button>
                {% endif %}
              </form>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
