{% extends "base-auth.html" %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Order ID: user_b_order1</h2>
    <br>
    <h4>Send your message to the owner.</h4>
    <textarea id="sent_email" name="sent_email" rows="4" cols="100">    
    </textarea>
    <br>
    <a class='btn btn-primary float-right' href='/checkout/user_b_order1'>Send</a>
    <h3></h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Digital Art ID</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.items.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.title }}</td>
            <td>{{ order_item.item.price }}</td>
            <td>
                <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
            {% if order_item.item.discount_price %}
                ${{ order_item.get_total_discount_item_price }}
                <span class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
            {% else %}
                ${{ order_item.get_total_item_price }}
            {% endif %}
            <a style='color: red;' href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='1'>Digital Art 1</td>
            <td colspan='1'>PolyU</td>
            <td colspan='1'>$100</td>
            <td colspan='1'>Wait for owner's agreement.</td>
            {% comment %} <td colspan='1'>
                <a class='btn btn-primary float-right' href='/checkout/user_b_order1'>Checkout</a>
            </td> {% endcomment %}
        </tr>
        {% endfor %}
        {% if object.get_total %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>${{ object.get_total }}</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='/checkout/'>Proceed to checkout</a>
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}