{% extends 'base-auth.html' %} {% block content %}
<div
  class="d-flex flex-column justify-content-center align-items-center h-100 w-100"
>
  <h1 class="mb-4 text-center">Create your post</h1>
  <div class="row w-100 justify-content-around align-items-center">
    <div class="col-12 col-md-9 col-lg-6">
      <form method="post" enctype="multipart/form-data" id="post" class="w-100">
        {% csrf_token %} {% if context %}
        <div class="alert alert-danger" role="alert">{{ context }}</div>
        {% endif %}

        <div class="input-group mb-3 w-100">
          <input
            type="file"
            name="image"
            class="form-control"
            id="image"
            required=""
            accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
          />
          <label class="input-group-text" for="image">Upload</label>
        </div>
        <div class="input-group mb-3 w-100">
          <span
            class="input-group-text w-25 px-2 d-inline-flex justify-content-center"
            id="caption-label"
            >Caption</span
          >
          <input
            id="caption"
            type="text"
            name="caption"
            maxlength="240"
            required=""
            class="form-control"
            aria-label="caption input"
            aria-describedby="caption-label"
            value="{{caption}}"
          />
        </div>
      </form>
    </div>
  </div>
  <button
    id="create_post"
    type="submit"
    form="post"
    class="btn btn-primary mt-4"
  >
    Create Post
  </button>
</div>
{% endblock %}
