<div class="row g-0">
  <span class="col-12">
    <form method="POST" action="/transfer/" class="d-inline">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ post.id }}" />
      <div class="input-group">
        <select
          class="form-select"
          name="user"
          id="user"
          aria-label="Select Recipient"
          {% if not post.likes.all %}disabled{% endif %}
        >
          {% for dest_user in post.likes.all %}
          <option value="{{ dest_user.user.id }}">
            {{dest_user.user.first_name}}: {{ dest_user.user.email }}
          </option>
          {% endfor %}
        </select>
        <button
          class="btn {% if post.likes.all %}btn-outline-primary{% else %}btn-outline-secondary{% endif %}"
          type="submit"
          name="submit"
          value="Transfer"
          {% if not post.likes.all %}disabled{% endif %}
        >
          <i class="fa-solid fa-arrow-right-arrow-left" aria-hidden="true"></i>
        </button>
      </div>
    </form>
  </span>
</div>
