{% extends 'base-auth.html' %} {% block content %} {% if posts %}
<div class="d-flex flex-column h-100 w-100">
  <div class="row py-4 justify-content-around align-items-stretch">
    {% include 'snippets/messages.html' %}
    {% for post in posts %}
      {% include 'snippets/post_list.html' with interaction='snippets/post_transfer.html' post=post %}
    {% endfor %}
  </div>
</div>
{% else %}
<div
  class="d-flex flex-column h-100 w-100 justify-content-center align-items-center"
>
  <h1 class="mb-2">Oops!</h1>
  <h5 class="mb-4">No post belongs to you yet.</h5>
  <a href="/post" class="btn btn-info me-2">
    New Post<i class="fa-solid fa-plus-circle ms-1" aria-hidden="true"></i>
  </a>
</div>
{% endif %} {% endblock %}
