{% extends 'base.html' %} {% block content %}
<h1 class="mb-4 text-center" style="text-shadow: 2px 2px 6px black">
  Welcome to Digital Art Platform
</h1>
<div class="row w-100 justify-content-center align-items-center">
  <div class="col-12 col-md-9 col-lg-6">
    <form method="post" id="signup" class="w-100">
      {% csrf_token %}
      <div class="input-group mb-3 w-100">
        <span
          class="input-group-text w-25 px-2 d-inline-flex justify-content-center"
          id="username-label"
          >Username</span
        >
        <input
          id="username"
          type="text"
          name="username"
          maxlength="120"
          required=""
          class="form-control"
          aria-label="username input"
          aria-describedby="username-label"
          value="{{user.username}}"
        />
      </div>
      {% for msg in context.username %}
      <div class="alert alert-danger" role="alert">
        {{ msg }}
      </div>
      {% endfor %}
      <div class="input-group mb-3 w-100">
        <span
          class="input-group-text w-25 px-2 d-inline-flex justify-content-center"
          id="name-label"
          >Display Name</span
        >
        <input
          id="first_name"
          type="text"
          name="first_name"
          maxlength="120"
          required=""
          class="form-control"
          aria-label="name input"
          aria-describedby="name-label"
          value="{{user.first_name}}"
        />
      </div>
      {% for msg in context.name %}
      <div class="alert alert-danger" role="alert">
        {{ msg }}
      </div>
      {% endfor %}
      <div class="input-group mb-3 w-100">
        <span
          class="input-group-text w-25 px-2 d-inline-flex justify-content-center"
          id="email-label"
          >Email</span
        >
        <input
          id="email"
          type="text"
          name="email"
          maxlength="254"
          required=""
          class="form-control"
          aria-label="email input"
          aria-describedby="email-label"
          value="{{user.email}}"
        />
      </div>
      {% for msg in context.email %}
      <div class="alert alert-danger" role="alert">
        {{ msg }}
      </div>
      {% endfor %}
      <div class="input-group mb-3 w-100">
        <span
          class="input-group-text w-25 px-2 d-inline-flex justify-content-center"
          id="password-label"
          >Password</span
        >
        <input
          id="password"
          type="password"
          name="password"
          maxlength="40"
          required=""
          class="form-control"
          aria-label="password input"
          aria-describedby="password-label"
          value="{{user.password}}"
        />
      </div>
      {% for msg in context.password %}
      <div class="alert alert-danger" role="alert">
        {{ msg }}
      </div>
      {% endfor %}
    </form>
  </div>
</div>
<div class="text-center">
  <button type="submit" form="signup" value="Submit" class="btn btn-info">
    <i class="fa-solid fa-user me-1" aria-hidden="true"></i>
    Sign Up
  </button>
</div>

{% endblock content %}
