<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style media="screen">
  @import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
  @import url('https://fonts.googleapis.com/css?family=Pacifico');
  @import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

  .like-count{
    margin-top: 6px;
    color: #b09b9a;
  }

  .username{
    color: #f4a142;
  }

  #errors{
    background: black;
    border-radius: 5px;
    transition: 2s;
  }
  body , html{
    width:100%;
    height: 100%;
    /*font-family: 'Zilla Slab', serif;*/
    font-family: 'Permanent Marker', cursive;
  }

  #brand-name{
    text-shadow:  0px 1px 0px rgba(0,0,0,0.4),
                  0px 1px 0px rgba(0,0,0,0.3),
                  0px 1px 0px rgba(0,0,0,0.3);
  }

  .fa{
    margin-right: 10px;
  }

  .landing{
    background: url('http://i.imgur.com/e7R6YVQ.jpg') no-repeat center center fixed;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Permanent Marker', cursive;
    font-size: 5em;
  }

  .btn,#comment_text {
    font-family: 'Permanent Marker', cursive;
  }

  .navbar, .nav-link{
    font-family: 'Zilla Slab', serif;
    font-size: 15px;

    color: white;
  }

  .navbar-inverse .navbar-nav>li>a {
    color: white;
  }

  .landing-text{
    color: white;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 17%;
    font-size: 19px;
    text-shadow:  0px 4px 0px rgba(0,0,0,0.4),
                  0px 8px 0px rgba(0,0,0,0.3),
                  0px 9px 0px rgba(0,0,0,0.3);
  }

  h1{
    font-size: 3.5em;
  }

  h2{
    color: #bcf442;
  }

  hr.landing-hr {

    border-color: white;

  }

  a:link {
      color: white;
  }

  /* visited link */
  a:visited {
      color: white;  }

/* mouse over link */
  a:hover {
    color: cyan;
  }

/* selected link */
  a:active {
    color: white; }

  #id_image{
    /*margin-left: 350px;*/
    padding-bottom: 10px;

  }



  h3{
    color: white;
  }

  #create_post{
      display: block;
      margin-top: 10px;
  }

  #id_caption{
      display: block;
  }

  .main{

    width:100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    /*background: url('https://static.pexels.com/photos/259962/pexels-photo-259962.jpeg') no-repeat center center fixed;*/
    /*background: url('http://i.imgur.com/oNX5MgY.jpg') no-repeat center center fixed;*/
    background: url('http://i.imgur.com/N4kCdUU.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*font-family: 'Zilla Slab', serif;*/
    color: #040d08;
  }

  .time{
    margin-top: 6px;
    color: #b09b9a;
  }

  .comment_button{
    /*display: none;*/
    margin-top: 3px;
  }

  .created_on {
      color: #b09b9a;
  }

  .btn-upvote{
    font-size: 0.7em;
    color: green;
  }

  .comment-text{
    color: white;
  }

  .tag{

  }

  .container{
    width: 70%;

  }

  input{
    font-family: 'Zilla Slab', serif;
  }

  .navbar-inverse{
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.4);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);

  }
  .success{
    text-align: center;
  }

  #login-btn{
      display: block;
      margin: 0 auto;
      padding: 15px;
      align: center;
  }

  .loginForm-container{
    width: 40%;
  }

  #signup,#logIn{
    padding: 10px;
    margin-top: 10px;
    display: block;
    margin: 10px auto;
  }

  hr{
    border-color: grey;
  }

  .field{
    margin-top: 5px;
  }

  footer{
    height: 20px;
    text-align: center;
  }

  .foot p{
    margin-top: 5px;
    font-family: 'Pacifico', cursive;
  }

  .feed{
    margin-top: 0;
    width: 600px;
    height: auto;
    margin: 0 auto;

  }

  .thumbnails{
    width: 100%;
    height: auto;
    padding-bottom: 10%;
  }

  img{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
  }

</style>
